.ingredient{
    font-size: medium;
    font-weight: bold;
    padding-top: 1vh;
    text-align: left;
}

.ingr{
    margin-top: 0;
    text-align: left;
}

.coffees{
    height: 45vh;
    margin-top: 5vh;
}

.coffee{
    height: 100%;
    padding: 0.1%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.75);
    border: #EFE5D9;
    border-style: solid;
    border-width: 2vh;
}

.coffee:hover{
    cursor: pointer;
}
.active{
    background-color: black;
}

.label{ 
    background-color: white;
    color: black;
    width: 100%;
    height: 20%;
    margin-top: 30%;
    margin-bottom: 40%;
    text-align: center;
    padding: 3%;
}

.order-form{
    background-color: rgb(182, 182, 182);
    margin-top: 20vh;
    height: 70vh;
    width: 100%;
    padding: 0;
}

.info-pic{
    background-image: url(../assets/cup-amo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50%;
}

#coffee-desc{
    padding-top: 10%;
    font-weight: bolder;
}

.size-option{
    height: 30%;
    text-align: center; 
    border: black; 
    border-style: solid; 
    border-width: thin; 
    padding-top: 10%;
}

.size_cost{
    font-size: large;
    font-weight: lighter;
    margin-top: 2vh;
}

.addons{
    padding: 0%;
}
.extras-title{
    cursor: pointer;
    padding-top: 1vh;
    padding-right: 1vw;
    font-size: x-large;
    font-weight: bold;
    text-align: right;
}
.size{
    padding: 0%;
}

.extra-option{
    height: 11%;
    font-size: 1vw;
}
.extra-name{
    width: 40%;
    padding: 2%;
    font-size: 1vw;
    justify-content: left;
    float: left;
}
.check{
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: white;
    width: 15px;
    height: 15px;
}
.check.selected{
    background-color: black;
}

#coffee-name{
    color: black;
    text-emphasis: bold;
    padding-top: 1%;
}

.extra{
    width:100%;
    height: 100%;
}

.option_cost{
    font-size: medium; 
    float: right; 
    margin-top: 1vh; 
    margin-right: 1vw;
}

.honey{
    background-image: url(../assets/bees.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sugar{
    background-image: url(../assets/sugar.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.milk{
    background-image: url(../assets/milk.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.caramel{
    background-image: url(../assets/syrup_carm.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}
.hazelnut{
    background-image: url(../assets/syrup_hazel.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.ex7{
    background-image: url(../assets/cup-amo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ex7p5{
    background-image: url(../assets/steam.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left, bottom;
}

.espresso{
    background-image: url(../assets/espresso.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.cream{
    background-image: url(../assets/cream.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.cinnamon{
    background-image: url(../assets/cinnamon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.vanilla{
    background-image: url(../assets/vanilla.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.price{
    height: 50%; 
    background-color: #BAA285; 
    padding-top: 10%; 
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

.addtocart{
    height: 50%; 
    background-color: black; 
    color: white; 
    padding-top: 10%; 
    text-align: center; 
    font-size: .9vw;
}
.addtocart:hover{
    cursor: pointer;
}